version: 5.26.0.{build}
#skip_tags: true
#os: MinGW
#os: Visual Studio 2015
#os: Default Azure
#build:
#  verbosity: minimal
platform:
  - x64
  - x86
environment:
  matrix:
    - MSVC_VERSION: 12
    #- MSVC_VERSION: 10
    #- MSVC_VERSION: 14
clone_depth: 1
branches:
  only:
    - master
    - /^smoke/
    - /^maint-/
    - /^cperl-/
init:
  - git config --global core.autocrlf input
  # Disable popups as they hang the build as there is nobody to click on the OK button...
  # Hanging the build is a lot less user friendly than reporting a build failure.
  #
  # Disable of system hard error popup
  # See: https://msdn.microsoft.com/en-us/library/bb513638%28VS.85%29.aspx
  - reg add "HKLM\SYSTEM\CurrentControlSet\Control\Windows" /f /v ErrorMode /d 2
  # Disable the following popup on program failure:
  #     |       ** <program name> has stopped working **        |
  #     | Windows can check online for a solution to the problem|
  #     |  - Check online for a solution and close the program  |
  #     |  - Close the program                                  |
  # See: https://msdn.microsoft.com/en-us/library/bb513638%28VS.85%29.aspx
  - reg add "HKLM\Software\Microsoft\Windows\Windows Error Reporting" /f /v DontShowUI /d 1  
  #- cmd: if "%MSVC_VERSION%" == "12" cinst 7zip.commandline -y
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# from https://github.com/apache/lucy-clownfish/blob/master/appveyor.yml  
build: off

test_script:
  - 't\appveyor-smoke.bat'

# nope: https://ci.appveyor.com/project/rurban/cperl/build/job/ui7b0dk0gprw1eo2
#  - cinst ruby.devkit
#  - cinst make
#install:
#  - cinst mingw
#  - SET PATH=%PATH%;C:\tools\mingw64\bin;C:\tools\mingw64\opt\bin
#  - mingw-get install mingw-developer-toolkit
#build_script:
#  - cd win32
#  - mingw32-make
#test_script:
#  - mingw32-make test

#deploy_script:
#  - IF "%MSVC_VERSION%"=="10" exit /b
#  - IF "%DEPLOY%"=="" exit /b
#  - IF "%APPVEYOR_REPO_TAG%"=="true" (
#    7z a -y -sfx %APPVEYOR_REPO_TAG_NAME%-win%PLATFORM%.exe c:\cperl\
#    )
#  - IF "%APPVEYOR_REPO_TAG%"=="false" (
#    7z a -y -sfx cperl-%appveyor_build_version%-win%PLATFORM%.exe c:\cperl\
#    )
#  - del /s /f /q C:\cperl

# appveyor cannot glob * in names
artifacts:
  - path: cperl-$(appveyor_build_version)-win32.exe
    name: nightly-32
    type: exe
  - path: cperl-$(appveyor_build_version)-win64.exe
    name: nightly-64
    type: exe
  - path: $(APPVEYOR_REPO_TAG_NAME)-win32.exe
    name: tagged-32
    type: exe
  - path: $(APPVEYOR_REPO_TAG_NAME)-win64.exe
    name: tagged-64
    type: exe

deploy:
- provider: GitHub
  tag: cperl-win-$(appveyor_build_version)
  description: 'cperl windows sfx nightly'
  auth_token:
    secure: AsIAOIgCJX0QhrUKal2V00aaB5nRWtmtFTFeDVsGnbJLeEQpv9avUp0HT1cA8bNs
  artifact: nightly-32,nightly-64
  draft: true
  prerelease: true
  force_update: true
  on:
    branch: /(master|relprep|cperl-tag-deploy-test)/
    MSVC_VERSION: 12
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)-win
  description: 'cperl windows sfx tagged'
  auth_token:
    secure: AsIAOIgCJX0QhrUKal2V00aaB5nRWtmtFTFeDVsGnbJLeEQpv9avUp0HT1cA8bNs
  artifact: tagged-32,tagged-64
  draft: true
  force_update: true
  on:
    appveyor_repo_tag: true
    MSVC_VERSION: 12

notifications:
- provider: Email
  to:
  - rurban@cpan.org
  subject: cperl windows build
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
