# ignore generated .c files, and other module build traces
!DynaLoader/dlutils.c
!DynaLoader/XSLoader.c
Config/Config_xs_tmp.in
Config/Config_xs_tmp.out
*.c
*.bs
blib
pm_to_blib
Makefile
Makefile.PL
ppport.h
